
<div ng-include="'components/content-nav/content-nav.html'"></div>
<div class="container-fluid" >
  <div class="row">
    <div class="col-xs-12" >
      <div class="box box-lg">
        <ul class="nav nav-pills">
          <li role="presentation"><a href="/admin">Member Roles</a></li>
          <li role="presentation"><a href="/admin/export">Export Data</a></li>
          <li role="presentation" class="active"><a href="#">Billing</a></li>
        </ul>
      </div>
      <div class="box box-lg">
        <h1 class="page-header">Payment:</h1>
        <p>We accept: Visa, MasterCard, and American Express.</p>

        <form name="ccForm" ng-submit="charge(card)" novalidate>
          <div class="form-group">
            <label for="card-number">Card Number</label>
            <input type="text" class="form-control" id="cardNumber" ng-class="{'red-border' : ccForm.$submitted && ccForm.ccNumber.$error.required}" cc-number cc-format name="ccNumber" ng-model="card.number" required>
            <div ng-show="ccForm.$submitted || ccForm.ccNumber.$touched">
              <div ng-show="ccForm.ccNumber.$error.ccNumber">Please enter a valid payment card</div>
            </div>
          </div>
          <div class="form-group">
            <label for="cvc">CVC</label>
            <input type="text" class="form-control" id="cvc" cc-cvc cc-type="ccForm.ccNumber.$ccType" ng-class="{'red-border' : ccForm.$submitted && ccForm.ccCvc.$error.required}" name="ccCvc" ng-model="card.cvc" required>
          </div>
          <div class="form-group">
            <label for="card-number">Expiration</label>
            <div class="row" cc-exp>
              <div class="col-xs-3">
                <input
                placeholder="MM"
                type="text"
                class="form-control"
                cc-exp-month
                name="ccExpMonth"
                ng-class="{'red-border' : ccForm.$submitted && ccForm.ccExpMonth.$error.required}"
                ng-model="card.exp_month"
                required>
              </div>
              <div class="col-xs-3">
                <input
                placeholder="YY"
                type="text"
                class="form-control"
                cc-exp-year
                ng-class="{'red-border' : ccForm.$submitted && ccForm.ccExpYear.$error.required}"
                name="ccExpYear"
                ng-model="card.exp_year"
                required>
              </div>
            </div>
          </div>

            <button type="submit" class="btn btn-info" name="button"><span ng-show="!ccSubmited">Submit</span> <span ng-show="ccSubmited"><i class="fa fa-circle-o-notch fa-spin" style="color:#fff;"></i></span></button>
        </form>
        <br>
        <p>
          Support can be reached by email colin@phased.io, or phone +1 902-704-1575
        </p>

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Basic Plan</div>
          <div class="panel-body">
            <h3 align="center">$100.00 / monthly</h3>
          </div>

          <!-- List group -->
          <ul class="list-group">
            <li class="list-group-item" align="center">1 Team</li>
            <li class="list-group-item" align="center">10 Users</li>
            <li class="list-group-item" align="center">Unlimited Tasks</li>
            <li class="list-group-item" align="center">1,000 Collective Text Messages</li>
            <li class="list-group-item" align="center">Access to future features</li>
          </ul>
        </div>
      </div>
      <div class="box box-lg">
        <h4>Account Details</h4>
        <a href="#" data-toggle="modal" data-target="#cancelAccount">Cancel account</a>
      </div>


    </div>


  </div>
</div>


<div class="modal fade addteam" id="cancelAccount">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body ">
        <h4>Are you sure about this?</h4>
        <p>Cancelling your account will immediatly close this team. <strong>All team data will be deleted</strong> and any credit cards you have on file with this team will be removed. We here at Phased would be really sad to see you go! If it's a problem with us please click here to contact support and we will try to resolve any issues.</p>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, I don't want to remove this account</button>
        <button type="button" class="btn btn-danger" ng-click="removeTeam()">Yes, please remove this account</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
