<div ng-include="'components/navbar/navbar.html'"></div>


<section class="container">
  <div class="row">
  	<div class="col-xs-12" ng-class="tasklistSize">
		<div class="ph-card task-list">
 		 	<h1>ADMIN</h1>
      <div class="row">
        <div class="export-users col-xs-5">
          <h3>Users</h3>
          <div class="export-user" ng-repeat="member in team.members" ng-click="toggleMember(member.uid)" id="{{member.uid}}"><img src="{{member.pic}}" alt="{{member.name}}" class="img-thumbnail"/></div>
        </div>
        <div class="export-users col-xs-3">
          <h3>Categories</h3>
          <select class="" name="">
            <option ng-repeat="(key, category) in team.categoryObj" value="{{key}}">{{category.name}}</option>
          </select>
        </div>
        <div class="export-users col-xs-4">
          <h3>Time</h3>
          <span>Start:</span><input type="date"/> <br>
          <span>End:</span><input type="date"/>

        </div>
      </div>
      <button ng-click="getTasks()"></button>
      {{returnValues}}


 		 	<!-- <table class="table table-hover">
				<tbody>
					<tr class="task" ng-repeat="member in team.members" >
						<td>
							{{member.name}} --
							<select ng-model="member.role" ng-change="changeRole(member, '{{member.role}}')">
								<option ng-repeat="role in Phased.ROLES">{{role}}</option>
							</select>
						</td>
					</tr>
				</tbody>
			</table> -->
 		</div>
	</div>
  </div>
</section>
