


<section class="container-fluid">
  <div class="row">
    <div ng-include="'components/sidebar/sidebar.html'"></div>
    <div class="content__area">
      <div ng-include="'components/content-nav/content-nav.html'"></div>
      <div class="col-xs-10" >
  		<div class="ph-card task-list">
   		 	<h1>ADMIN</h1>
        <ul class="nav nav-pills">
          <li role="presentation" ><a href="/admin">Member Roles</a></li>
          <li role="presentation" class="active"><a href="#">Export Data</a></li>
          <li role="presentation"><a href="/billing">Billing</a></li>
        </ul>
        <div class="row">
          <div class="export-users col-xs-5">
            <h3>Users</h3>
            <div class="export-user" ng-repeat="member in team.members" ng-click="toggleMember(member.uid)" id="{{member.uid}}"><img src="{{member.pic}}" alt="{{member.name}}" class="img-thumbnail"/></div>
          </div>
          <div class="export-users col-xs-3">
            <h3>Categories</h3>
            <select class="" name="" ng-model="catSelect">
              <option  value="">All</option>
              <option ng-repeat="(key, category) in team.categoryObj" value="{{key}}">{{category.name}}</option>
            </select>
          </div>
          <div class="export-users col-xs-4">
            <h3>Time</h3>
            <span>Start:</span><input type="date" ng-model="time.start" /> <br>
            <span>End:</span><input type="date" ng-model="time.end"/>

          </div>
        </div>
        <button ng-click="getTasks()">Get data</button>

        <div ng-if="returnValues">
          <button ng-click="exportData()">Export this data</button>
        </div>
        <div class="export-data" ng-repeat="(key,user) in returnValues">
          <h4>{{team.members[key].name}}</h4>
          <table class="table">
            <thead>
              <tr class="row">
                <th class="col-xs-6">
                  Task
                </th>
                <th class="col-xs-3">
                  Category
                </th>
                <th class="col-xs-3">
                  Time
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="row" ng-repeat="item in user | orderBy : 'time':true">
                <td class="col-xs-6">
                  {{item.name}}
                </td>
                <td class="col-xs-3">
                  {{$parent.team.categoryObj[item.cat].name}}
                </td>
                <td class="col-xs-3">
                  <span>{{item.time | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</span>
                </td>
              </tr>
            </tbody>

          </table>
          <h6 ng-show="user.length == 0" align="center">No updates</h6>
        </div>

   		 	<!-- <table class="table table-hover">
  				<tbody>
  					<tr class="task" ng-repeat="member in team.members" >
  						<td>
  							{{member.name}} --
  							<select ng-model="member.role" ng-change="changeRole(member, '{{member.role}}')">
  								<option ng-repeat="role in Phased.ROLES">{{role}}</option>
  							</select>
  						</td>
  					</tr>
  				</tbody>
  			</table> -->
   		</div>
  	</div>
    </div>

  </div>
</section>
