<style>
	body {
	  /*background:  linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ), url(assets/images/{{dayImage}}) no-repeat center center fixed;*/
		background: #F2F2F2;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
</style>

<div class="feedarea">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#"><img src="assets/images/phased-logo.svg" width="22px" height=27px></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">feed <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">reports</a></li>
			<li><a href="#">team</a></li>
			<li><a href="#">profile</a></li>
	      </ul>

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<div class="ph-card ph-team">
					<div class="ph-team-info">
						<p class="semi">team : Phased</p>
					</div>
					<div class="ph-team-stat">
						<ul>
							<li><span>status updates</span> <span>{{team.history.length}}</span></li>
							<li><span>members</span> <span>{{team.teamLength}}</span></li>
							<li><span>categories</span> <span>{{team.categorySelect.length}}</span></li>
						</ul>
					</div>
				</div>
				<div class="visible-md ph-card">
					<div class="ph-member-total">
							<p class="semi">members <span>{{team.teamLength}}</span>
					</div>
					<div class="ph-members">
						<div class="ph-member-head" ng-repeat="item in team.members">
							<img src="{{item.pic}}" width="40px" height="40px">
						</div>


					</div>

				</div>
			</div>
			<div class="col-xs-12 col-md-9 col-lg-6 ph-update-area">
				<div class="ph-card">
					<form class="ph-form-feed" name="taskForm" ng-submit="addTask(task)" novalidation>
						<input type="text" ng-model="task.name" ng-trim="false" maxlength="150" placeholder="enter your status here" required>
						<div class="ph-form-extras">
							<div class="ph-cat-list">
								<button type="button"  ng-repeat="(key, category) in team.categoryObj" ng-show="$index<6" class="btn button-phased-wht" ng-class="{active : key == selectedCategory}" style="outline: none; color:#000; font-size:1.2rem;" ng-click="categoryChoice(key)">
            <div class="feed-cat-color" style="width: 1rem; height: 1rem; margin-right:0.5rem; display: inline-block; background-color:{{category.color}}"></div>
            {{category.name}}
          </button>
							</div>
							<button type="button">+</button>
							<button type="submit">submit</button>

						</div>
					</form>
				</div>
				<div class="ph-card no-padding">

					<div class="ph-feed-filter">
						<div class="ph-feed-total">
							<p class="semi">updates <span>{{team.history.length}}</span>
						</div>
					</div>
					<div class="ph-feed-roll">
						<div class="ph-update" ng-repeat="item in team.history | orderBy : 'time':true ">
							<div class="ph-feed-head">
								<img src="{{$parent.team.members[item.user].pic}}" width="40px" height="40px">
							</div>
							<div class="ph-feed-status">
								<p><span class="update-name">{{$parent.team.members[item.user].name}}</span> {{item.name}}</p>
							</div>
							<div class="ph-feed-meta">
								<span am-time-ago="item.time"></span>
								<div class="ph-feed-cat">
									<div class="ph-cat-box" style="background: {{$parent.team.categoryObj[item.cat].color}}"></div>
									<span>{{$parent.team.categoryObj[item.cat].name}}</span>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
			<div class="visible-lg col-lg-3">
					<div class="ph-card">
						<div class="ph-member-total">
								<p class="semi">members <span>{{team.teamLength}}</span>
						</div>
						<div class="ph-members">
							<div class="ph-member-head" ng-repeat="member in team.lastUpdated | orderBy : 'time':true ">
								<img src="{{member.pic}}" width="40px" height="40px">
								<p>Last update <span am-time-ago="memeber.time"></span> </p>
							</div>


						</div>

					</div>
			</div>

		</div>
</div>