$ph-darkGreen : #084D54;
$ph-midGreen : #359C8A;
$ph-lightGreen : #36BEA6;
$ph-offWhite : #D9E6C3;
$ph-accent : #EE4B3A;

select{
	color:#333;
}


.greeting{
	margin-top:2rem;
	margin-bottom:2rem;

	h2{
		text-align:center;
		text-shadow: 0 0 25px rgba(0,0,0,0.3);
	}
	.input__text{
		display:block;
		width:100%;
		background:transparent;
		padding:1.5rem;
		padding-left: 4rem;
		border:2px solid #fff;
		outline:none;
		color:#fff;
		font-size:1.5rem;

	}
	button[type="submit"]{
    //display:none;
    position:absolute;
		right: 6.5%;
    top: 7.25rem;
		font-size: 2rem;
    background:transparent;
    outline:none;
    color:#fff;
    border:none;
  }
	.button-phased-wht{
		font-size: 12px;
		margin-top: 1rem;
		margin-right: 0.5rem;
		text-transform: none;
	}
}

.feed-cat-color{
	height:1rem;
	width:1rem;
	display:inline-block;

}
.greeting-selected-cat{
    height:3rem;
    width:3rem;
    border:1px solid #fff;
    position:absolute;
		top: 7.5rem;
    margin-left: 0.5rem;
  }


// DEFAULT CARD AND ELEMENTS
  //########################################

      // basic card block
      .card {
      will-change: transform;
      margin: 8px;
      position: relative;
      border-radius: 2px;
      overflow:  hidden;
      background-color: #fafafa;
      height: 35%;
      max-width: 50rem;
      margin:0 auto;
      margin-bottom:10px;
      display: block;
      transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);

        // hover status
        &:hover {
        cursor: pointer; }
      }

      // default card image element
      .card__image {
      //position: absolute;
      float:left;
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repat;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: block;
      opacity: 0;
      transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);

          // image overlay
          &:after {
          content: "";
          display: block;
          position: absolute;
          background-color: rgba(0,0,0,0.1);
          top: 0;
          left: 0;
          right: 0;
          transition: all 500ms;
          bottom: 0; }
      }

      .card__titles{
        display:inline-block;
        float:left;
        overflow:auto;
        border-left:5px solid #fff;
        min-width: 60%;
        height:100%;
      }


      // default card title element
      .card__title {
      user-select: none;
      font-size: 20px;
      color: #FFF;
      margin: 0;
      display:block;
      line-height: 30px;
      padding: 0 16px;
      font-weight: 400;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000); }


      // default card subtitle element
      .card__subtitle {
      user-select: none;
      text-shadow:none;
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #000;
      display:block;
      padding: 0 16px;
      opacity: 0;
      margin-bottom:0;
      line-height:2rem;
      transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
      span{
        //font-style:italic;
        opacity:0.5;
      }
    }


      // default card text element
      .card__text {
      user-select: none;
      font-size: 14px;
      display: block;
      left: 0;
      right: 0;
      top: 100px;
      padding: 16px;
      margin: 0;
      line-height: 1.6;
      position: absolute;
      color: #000;
      overflow: hidden;
      transition: width 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
      transition: delay 0.1s; }


      // default card action bar element
      .card__action-bar {
      user-select: none;
      position: absolute;
      bottom: 0;
      top: auto;
      left: 0;
      right: 0;
      padding: 0 8px;
      border-top: 1px solid #E0E0E0;
      box-sizing: border-box;
      height: 52px;
      transition: left 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000); }


      // default card button element
      .card__button {
      outline: none;
      position: relative;
      display: inline-block;
      padding: 0 16px;
      color: #084D54; }


// Small modifier
      .card--small {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      height: 80px;
      min-height: 80px;

          // image element
          .card__image {
          border-radius: 1px 0 0 1px;
          left: 0;
          top: 0;
          width: 88px;
          opacity: 1;
          max-height: 136px;

            // image overlay
            &:after {
            opacity: 0; }
          }

          // title element
          .card__title {
          color: #000;
          left: 88px;
          top: 8px; }


          .card__subtitle {
          opacity: 1;
          left: 88px; }


          // text element
          .card__text {
          top: 30px;
          opacity: 0; }


          // actionbar element
          .card__action-bar {
          left: 88px; }
      }

//phased mods
.card__meta{
  overflow:auto;
  padding-left:16px;
  //padding-right:16px;
  margin-top:0rem;
  display: inline-block;
    float: left;
    width: 22.4%;

  button{
    width:100%;
    text-align:center;
    margin:0;
    border-bottom:1px solid #444;
    border-left:1px solid #444;
    border-radius:0;
    .fa-heart-o{
      color:#444;
      text-shadow:none;


    }
    transition: all 200ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
    &:hover{
        content:"\f004";
        color:#f00;
        background:#f00;
      }
  }
}
.card__category {
    width: 50%;
    display: inline-block;
    float: left;
    p{
      display:inline-block;
      //float:left;
      margin-left:0.5rem;
    }
    .fa{
      //float:left;
    }
}
.category__color {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    border: 1px solid #000;
    float: left;
}


#catModal{
	.button-phased{
		border: none;
		padding-top: 1rem;
		padding-bottom:1rem;
	}
}



.feedarea{
	margin-top: 150px;
	font-family: 'open_sansregular';
	color:#BDBDBD;
	.no-padding{
		padding:0!important;
	}
	h1,h2,h3,h4,h5,h6,.semi{
		font-family: 'open_sanssemibold';
		color:#444A59;
		text-transform: uppercase;
	}
	p,li{
		font-family: 'open_sansregular';
		font-size: 1.25rem;
		letter-spacing: 0.92px;
		line-height: 15px;
	}
	.navbar{
		height:60px;
		margin-bottom:30px;
		background: #1E1E24;
		padding-top:0;
		padding-bottom:0;
		border-radius: 0;
		li{
			font-family: 'open_sansregular';
			text-transform: uppercase;
			color:#fff;
			font-size: 1.25rem;
			letter-spacing: 0.92px;
			line-height: 15px;
		}
	}
	.navbar-brand{
		// padding-top: 5px;
		// padding-bottom:5px;
	}
	.navbar-nav > li > a {
    padding-top: 17px;
	}


	.ph-card{
		background: #FFFFFF;
		padding:40px;

	}
	.ph-team{
		margin-bottom: 20px;
	}
	.ph-team-info{
		padding-bottom:40px;
		border-bottom: 1px solid #F2F2F2;
	}
	.ph-team-stat{
		padding-top:50px;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li{
			overflow: hidden;
			font-size: 1.25rem;
			margin-bottom:1rem;
			span:first-child{
				font-family: 'open_sansregular';

				color:#BDBDBD;
				text-transform: uppercase;
				float: left;
			}
			span:last-child{
				font-family: 'open_sanssemibold';
				color:#444A59;
				text-transform: uppercase;
				float: right;
			}
		}
	}

	.ph-update-area{
		.ph-card{
			margin-bottom: 20px;
		}
	}
	.ph-form-feed{
		input[type="text"]{
			font-family: 'open_sanssemibold';
			font-size: 1.45rem;
			letter-spacing: 0.92px;
			line-height: 15px;
			width: 100%;
			background: #fff;
			outline: none;
			border: none;
			color:#BDBDBD;
		}
	}
	.ph-form-extras{
		margin-top: 60px;
		overflow: auto;
		button[type="button"]{
			background: none;
			border: none;
			color:#292B33;
			float: left;
			margin-top:1rem;
			font-size: 2.3rem;
			letter-spacing: 0.92px;
			line-height: 15px;
		}
		button[type="submit"]{
			font-family: 'open_sansregular';
			font-size: 1.25rem;
			letter-spacing: 0.92px;
			line-height: 13px;
			background: #FAC994;
			border: #FAC994;
			border-radius: 2px;
			padding:12px 18px 12px 18px;
			text-transform: uppercase;
			float: right;
			color:#292B33;
		}
	}
	.ph-cat-list{
		max-width: 40rem;
		button{
			padding-left: 0;
		}
	}
	.ph-feed-filter{
		padding: 40px;
		padding-bottom: 0;
		overflow: auto;
		.ph-feed-total{
			float:right;
			span{
				color:#BDBDBD;
			}
		}
	}

	.ph-feed-roll{
		padding-top:40px;
		padding-bottom:40px;
		overflow: auto;
	}
	.ph-update{
		overflow: auto;
		padding-bottom:40px;
		.update-name{
			color:#595959;
		}
		.ph-feed-head{
			padding-left:40px;
			float: left;
			display: inline-block;
			width: 15%;
			img{
				margin: 0 auto;
				border-radius: 100px;

			}
		}
		.ph-feed-status{
			padding-right:40px;
			float: left;
			display: inline-block;
			width: 70%;
			p{
				font-size: 1.4rem;
				letter-spacing: 0px;
				line-height: 24px;
			}
		}

		.ph-feed-meta{

			width: 85%;
			overflow: auto;
			margin-left:15%;
			display: block;
			padding-top: 30px;
			padding-bottom: 14px;
			float: left;
			border-bottom: 1px solid #F2F2F2;
			span{
				float: left;
				font-size: 1.25rem;
				display: inline-block;
			}
			.ph-feed-cat{
				float: right;
				margin-right:5%;
				display: inline-block;
				.ph-cat-box{
					width: 1rem;
					height: 1rem;
					//background: #f0f;
					display: inline-block;
				}
				span{
					float: none;
					text-transform: uppercase;
					font-family: 'open_sanssemibold';
					color:#444A59;
				}
			}

		}
	}
	.ph-member-total{
		display: block;
		overflow: auto;
		padding-bottom: 60px;
		p{
			float: right;
		}
		span{
			float: none;
			text-transform: uppercase;
			font-family: 'open_sanssemibold';
			color:#444A59;
		}
	}
	.ph-members{
		display: block;
	}
	.ph-member-head{
		display: block;
		margin-left: 30px;
		margin-bottom: 30px;
		img{
			border-radius: 100px;
			display: inline-block;
		}
		p{
			display: inline-block;
			margin-left: 0.5rem;
		}
		i{
			padding-top: 1rem;
			color:#444A59;
		}
	}

}
