<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid">
	<div class="col-xs-4 col-xs-offset-4">
		<form name="taskForm" ng-submit="addTask(task)" novalidation>
			<h4>What are you doing now?</h4>
			<input style="color:#333" ng-model="task.name" ng-trim="false" maxlength="150" type="text" required>
			<select ng-model='task.cat' ng-options="item.key as item.name for item in team.categorySelect"></select>
			<input class="btn"type="submit">
		</form>
		<ul class="cbp_tmtimeline">
			<li ng-repeat="item in team.history |orderBy: '-time'">
				<!-- <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span>{{item.time | amDateFormat:'MM/DD/YY'}}</span> <span>{{item.time | amDateFormat:'HH:mm'}}</span></time> -->
				<!-- <div class="cbp_tmicon fa fa-rss"></div> -->
				<div class="cbp_tmlabel">
					<div class="feed-dp">
						<img src="{{$parent.team.members[item.user].pic}}">
					</div>
					<div class="feed-status">
						<p>{{$parent.team.members[item.user].name}}</p>
						<p>{{item.name}}</p>
						<p><div class="feed-cat-color" style="background:{{$parent.team.categoryObj[item.cat].color}}"></div>{{$parent.team.categoryObj[item.cat].name}}</p>
						<p><i class="fa fa-clock-o"></i> <span>{{item.time | amDateFormat:'HH:mm'}}</span> <span>{{item.time | amDateFormat:'MM/DD/YY'}}</span></p>
					</div>
					
				</div>
			</li>
			
		</ul>
	</div>
</div>