
/*
*
* LEGACY STYLES
*
*
*/
.feed-cat-color{
	height:1rem;
	width:1rem;
	display:inline-block;

}

#catModal{
	.button-phased{
		border: none;
		padding-top: 1rem;
		padding-bottom:1rem;
	}
}

/*
*
* MEMBER AREA
*
*
*/
.feed__team__name{
	margin-bottom: 10px;
}
.feed__members{
	ul{
		margin: 0;
		padding:0;
		list-style: none;
		padding-bottom:10px;
	}
	li{
			display: block;
			padding-bottom:5px;
			.online{
				width: 8px;
				height: 8px;
				display: inline-block;
				border-radius: 100px;
				background-color: #2fc2a3;
				float: right;
				margin-top: 9px;
				//position: relative;
			}
			.offline{
				display: inline-block;
				float: right;
				span{
					margin-top: 9px;
					font-size: 10px;
				}
			}
			&:hover{
				background-color: #f5f5f5;
			}
	}
	img{
		display: inline-block;
		float: left;
	}
	.feed__members__name{
		display: inline-block;
		float: left;
		padding-left: 8px;
		font-size:12px;
		line-height: 32px;
	}
}
.feed__members__link{
	color:#444A59;
}

/**
*
*	Sticky toplink
*
*/
.feed__toplink {
	position: fixed;
	bottom: 1em;
	text-align: center;
	font-size: 0.8em;
	font-style: italic;
	width: 247.5px; // one third of .row
	transition: opacity 500ms;
	z-index: 1;
	.at-top & {
		opacity: 0;
	}
}

/*
*
* FEED AREA
*
*
*/

.button_phasedFB{
  font-size: 12px;
  line-height: 22px;
  padding: 0 16px;
  vertical-align: baseline;
  background-color: #2fc3b5;

  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  position: relative;
  text-align: center;
  border: 1px solid;
  border-color: #2fc3b5 #2AADA1 #29AB9F;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-sizing: content-box;
  border-radius: 2px;
}
.member__activity{
  //display: block;
  //padding: 12px;
	//max-width: 496px;
  width: 100%;
  // margin-bottom: 10px;
  // border: 1px solid;
  // border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  // border-radius: 3px;
  //background-color: #fff;
  img,.activity__info{
    display: inline-block;
    float: left;
  }
  .activity__content,.activity__person{
    display: block;
		font-size: 18px;
  }
  .activity__person{
    margin-bottom: 11px;
  }
  img{
    height: 40px;
    width: 40px;
    margin-right:8px;
  }


  &:last-child{
    margin-bottom: 0;
  }
}
.activity__info{
  max-width: 360px;
  overflow: auto;
  h5,a{
		font-weight: bold;
    color: #2fc3b5;
    margin-top: 0;
    margin-bottom: 2px;
    text-transform: none;
  }
  p{
    margin-top: 0;
    font-size: 12px;
    color: #555;
  }
}
.activity__attachment{
	border-left: 5px solid #000;
	padding-left: 10px;
}
.activity__options{
	display: inline-block;
  float: right;
}
.feed__container{
  padding-top: 10px;
  min-height: 85vh;
}
.action__container{
	width: 100%;
	//max-width: 496px;
  form{
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    background-color: #fff;
  }
  .status__compose{
    padding: 12px;
    padding-bottom: 0;
		img{
			width: 40px;
    	position: absolute;
		}
  }
  .status__title{
    font-size: 12px;
    font-weight: bold;
    line-height: 14px;

  }

  .inputArea{
		width: 100%;
		padding-left: 50px;
		padding-top: 12px;
		padding-bottom: 24px;
		margin-bottom: 4px;
		color: #141823;
		outline: 0;
		border: none;

    &:focus{
      outline: none;
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #bdc1c9;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #bdc1c9;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #bdc1c9;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #bdc1c9;
      }
    }
  }
  .status__meta{
    background-color: #fff;
    border-top:1px solid #dcdee3;
    overflow: auto;
    &:after{
      clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
    }
  }

	.feed__fiter{
		background-color: #fff;
		border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
		border-top: none;
		button{
			float: left;
			height: 40px;
			position: relative;
			display: inline-block;
			cursor: pointer;
			text-decoration: none;
			background: transparent;
			color: #afb3b9;
			&.active{
				color:#2fc2a3;
				box-shadow:none;
			}
		}
	}

  .meta__right{
    float:right;
    padding: 8px;
  }
  .meta__left{
    float:left;
    button{
      float: left;
      height: 40px;
      position: relative;
      width: 40px;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      background: transparent;
      color:#afb3b9;
      &:hover{
        color:#141823;
      }

    }
  }

}
.activity__tag{
	a:hover{
		color: #999999;
	}
}

.action__container .meta__left .btn__active{
	color: #2fc2a3;
}

.activity__int{
	border-top: 1px solid #e5e5e5;
	padding-top: 4px;
	margin-top: 12px;
}
.activity__int__btn{
	color: #7f7f7f;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	margin-right: 20px;
	padding: 4px 4px 4px 0;
	background: transparent;
	&.active{
		color:#2fc3b5;
		box-shadow: none;
	}

}

/*
*
* COMMENTING AREA
*
*
*/

.comment__holder{
	height: 400px;
}

.comment__message{
	border-bottom:1px solid #9a9a9a;
	padding: 16px 0;
	.comment__id,.comment__msg,.comment__time{
		float: left;
		display: inline-block;
	}
}
.comment__id{
	padding-right:8px;
	img{
		border-radius: 100px;
		width: 32px;
		height: 32px;
	}
}
.comment__msg{
	padding-right:8px;
	padding-left:8px;
	width: 275px;

}
.comment__name{
	margin:0;
	font-size: 10px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	color:#9a9a9a;
}
.comment__time{
	padding-left:8px;
	p{
		margin:0;
		font-size: 10px;
		font-weight: bold;
		color:#9a9a9a;
	}
}


/*
*
* TO DO AREA
*
*
*/
.task__lable{
	background: #fff;
	margin-bottom: 10px;
	h3,a{
		display: inline-block;
		float: left;
	}
	a{
		float:right;
		margin-top: 15px;
	}
}

.modal__task__item{
	cursor: pointer;
}

/*
*
* MEDIA QUERIES
*
*
*/

@media (min-width: 992px) {
	.action__container,.feed__container{
		//max-width: 496px;
		//margin: 0 auto;
	}
	.feed__team__name,.task__lable{
		margin-bottom: 10px!important;
		h3{
			margin-top: 10px;
		}
	}

	.feed__toplink.col-sm-4 {
		width: 290px;
	}

}
