$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';


// Mixin

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : (); /* 3 */
  $rem: (); /* 3 */

  @each $value in $values { /* 4 */

    @if $value == 0 or $value == auto { /* 5 */
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);    /* 6 */
      $val: parseInt($value); /* 6 */

      @if $unit == "px" {  /* 7 */
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" { /* 7 */
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {     /* 8 */
    #{$property}: $px;  /* 9 */
  } @else {
    #{$property}: $px;  /* 9 */
    #{$property}: $rem; /* 9 */
  }
}


// Variables

// Colors

$darkBlack :#1e1e24;
$liteBlack : #313848;
$darkDark : #282D3A;
$accColor : #fac994;
$textColor : #8a8a8a;
$boldText : #444A59;




// fonts

@font-face {
    font-family: 'open_sanslight';
    src: url('../assets/fonts/OpenSans-Light-webfont.eot');
    src: url('../assets/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../assets/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../assets/fonts/OpenSans-Regular-webfont.eot');
    src: url('../assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../assets/fonts/OpenSans-Semibold-webfont.eot');
    src: url('../assets/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../assets/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body{
	//background:$liteBlack;
  background: #e9eaed;
  color:$darkBlack;
  -webkit-font-smoothing:antialiased;
}
.limit__900{
  width: 900px !important;
  margin:0 auto;
}
h1,h2,h3,.semi__lower{
  font-family: 'open_sanssemibold';
  color:$boldText;
}

h4,h5,h6,.semi{
  font-family: 'open_sanssemibold';
  color:$boldText;
  text-transform: uppercase;
}

.muted__header{
  text-transform: none !important;
  color:#8c8c8c;
}

p{
  font-family: 'open_sansregular';
  //color:$textColor;
  //font-size: 12px;
}
.semi-bold{
  font-family: 'open_sanssemibold';
  color:$boldText;
  text-transform: uppercase;
}

.clickable{
  cursor: pointer;
}
.no-padding{
  padding:0!important;
}
.no__boarder__radius{
  border-radius: 0px!important;
}
.no__border__side{
  border-left:none;
  border-right:none;
}
.trialing{
  text-align: center;
    position: absolute;
    top: 5rem;
    left: 12px;
    color: #fff;
}

.box{
  display: block;
  padding: 12px;
  max-width: 496px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #fff;
}
.box-lg{
  max-width: 590px;
}
.box__color{
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #fff;
}


.btn__phased__fb{
  font-size: 12px;
  line-height: 22px;
  padding: 0 16px;
  vertical-align: baseline;
  background-color: #2fc3b5;

  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;

  text-align: center;
  border: 1px solid;
  border-color: #2fc3b5 #2AADA1 #29AB9F;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border-radius: 2px;
}

.button-phased{
  border-color:#084D54;
  background:transparent;
  color:#084D54;
  font-weight:300;
  text-transform:uppercase;
  font-size:14px;
  &:hover{
    background:#084D54;
    color:#fff;
  }
}

.button-phased-wht{
  border-color:#fff;
  background:transparent;
  color:#fff;
  font-weight:300;
  text-transform:uppercase;
  font-size:14px;
  border-radius:0;
  &:hover{
    border-color:#084D54;
    background:#084D54;
    color:#fff;
  }
  &.active{
    border-color:#084D54;
    background:#084D54;
    color:#fff;
  }
}

.btn-phased-blue{
  border-color:$liteBlack;
  color:$liteBlack;
  background: transparent;
  border-radius: 2px;
  font-family: 'open_sansregular';
  text-transform: uppercase;
  font-size: 0.95rem;

  letter-spacing: 0.92px;
  line-height: 15px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s;
  &:hover{
    color:#fff;
    background: $liteBlack;
  }
}


.btn-circle{

  border-radius: 1000px;
  padding-left: 6px; // for phased-blue buttons
  padding-right: 6px; // for phased-blue buttons

}
.btn-transparent{
  background: transparent;
  border: none;
  outline: none;
  &:focus{
    outline: none;
  }
}

.btn-drop-chevron{
  padding: 5px;
  padding-top: 0;
  background: transparent;
}

// // loader styles
// body:not(.route-login) {
//   &:not(.phasedSetup) {
//     .ng-view {
//       &:after {
//         // centered text
//         // content: "Phasing...";
//         // display: block;
//         // position: absolute;
//         // top: 50%;
//         // right: 0;
//         // left: 0;
//         // text-align: center;
//
//         // loader gif
//         content: " ";
//         display: block;
//         position: absolute;
//         top: 0;
//         right: 0;
//         bottom: 0;
//         left: 0;
//         background: url('/assets/images/loader-ball.gif') no-repeat center center;
//       }
//       & > section {
//         display: none;
//       }
//     }
//   }
// }

// navbar
.navbar{

  li{
    font-family: 'open_sansregular';
    //text-transform: uppercase;
    color:$liteBlack;
    font-size: 14px;
    letter-spacing: 0.92px;
    line-height: 15px;
  }
  .active{
    background: $liteBlack;
    color: #fff;
  }
}
.navbar-brand{
  color:#fff;
  font-size: 20px;
  font-family: 'open_sanssemibold';
  // padding-top: 5px;
  // padding-bottom:5px;
}
.navbar-nav > li > a {
  padding-top: 17px;
  color:#fff;
  &:hover{

  }
}
.navbar-nav > li.active > a{
  color:#2fc2a3;
  &:hover{

  }
}
.nav > li > a:hover{
  background-color: $liteBlack;
}

//side navbar-nav
// ng-include div
div[ng-include*="sidebar.html"] {
	display: block;
	position: relative;
	height: 100vh;
	float: left;
	width: 16.66667%; // matches .sideMenu inside it, bc .sideMenu no longer floats
}
.sideMenu{
  //margin-top: 16px;
  background: $liteBlack;
  display: block;
  position: fixed;
  height: 100%;
  width: 16.66667%;
  .brand__area{
    background: $darkDark;
    overflow: auto;
    .brand__title{
      color:#2fc2a3;
      text-transform: none;
      margin-bottom: 20px;
    }

  }
  .brand__img{
    display: none;
  }
  ul{
    list-style: none;
    margin: 0;
    padding:0;
  }
  .fa{
    width:35px;
    font-size: 20px;
    //padding-right:22px;
  }
  .navItem{
    font-family: 'open_sanssemibold' !important;
    cursor: pointer !important;
    color: #fff !important;
    font-size: 14px !important;
    letter-spacing: 0.92px !important;
    line-height: 50px !important;
    //border-bottom: 1px solid transparent;
    padding-left: 15px !important;
    padding-right: 15px !important;
    display: block;
    a{
      color:#fff;
    }
    &:hover{
      background: #232833;
    }
  }
  .active{
    background: #232833;
    a{
      color:#2fc2a3;
    }

    //border-bottom: 1px solid #2fc2a3;
  }
}
.content__nav{
  background: #e9eaed;
  height: 73px;
  //width: 83.33333%;
  padding-bottom: 9px;
  border-bottom: 1px solid #dcdee3;
  padding-left:15px;
  padding-right:15px;
  &:after{
    clear:both;

  }
  h2{
    font-weight: bold;
    text-transform: none;
  }
  .content__nav__items{
    overflow: auto;
    display: block;
  }
  .content__nav__section{
    padding-left: 15px;
    float: left;
    display: inline-block;
    width: 42%;
  }
  .user__quick__menu{
    margin-top: 15px;
    float: right;
    .notification__center,.user__drop{
      display: inline-block;
    }
    img{
      border-radius: 100px;
    }
    .caret{
      margin-right: 5px;
    }
  }
  .notification__center{
    cursor: pointer;
    padding-right: 12px;
    margin-right: 12px;
    border-right:1px solid #000;
  }
}

// Modal
.modal-backdrop{
  background: #fff;
}
.modal-dialog{
  max-width: 700px;
  width: 90%;
}
.modal-content{
  padding:25px;
  border-radius: 0;
}

.addMember-btnHolder{
  input[type='submit']{
    width: auto;
    color:#fff;
    display: inline-block;
  }
}

// Component styles are injected through grunt
// injector
@import 'addcategory/addcategory.scss';
@import 'admin-csvDwl/admin-csvDwl.scss';
@import 'admin/admin.scss';
@import 'billing/billing.scss';
@import 'editcategory/editcategory.scss';
@import 'feed/feed.scss';
@import 'getapp/getapp.scss';
@import 'integrations/integrations.scss';
@import 'login/login.scss';
@import 'main/main.scss';
@import 'onboarding/onboarding.scss';
@import 'profile/profile.scss';
@import 'switchteam/switchteam.scss';
@import 'taskPage/taskPage.scss';
@import 'tasks/tasks.scss';
@import 'team-expired/team-expired.scss';
@import 'modal/modal.scss';
@import 'notifications/notifications.scss';
@import 'status-lazy-loader/status-lazy-loader.scss';
// endinjector
@import 'addcategory/addcategory.scss';
@import 'billing/billing.scss';
@import 'editcategory/editcategory.scss';
@import 'feed/feed.scss';
@import 'getapp/getapp.scss';
@import 'login/login.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';
@import 'switchteam/switchteam.scss';
@import 'tasks/tasks.scss';
@import 'modal/modal.scss';
// endinjector


.ph-update-area{
  width: 82%;
  max-width: 519px;
  display: inline-block;
  padding-right: 12px;
  padding-left: 12px;
  float: left;
  .ph-card{
    margin-bottom: 20px;
  }
}

//Media Q

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
  .content__nav{
    .content__nav__section{
      width: 41.5%;
    }
    .navItem{
      text-align: center;
    }
  }

}

@media (max-width: 969px) {
  //side navbar-nav
  div[ng-include*="sidebar.html"] {
  	width: 75px; // match .sideMenu
  }
  .sideMenu{
    width: 75px;
    .brand__area{
      height:73px;
      .brand__title{
        display: none;
      }
      .brand__img{
        margin-top:12px;
        margin-left: 10px;
        display: block;
      }
    }
    .navItem{
      text-align: center;
      span{
        display: none;
      }
    }
  }

  .trialing{
    text-align: center;
      position: absolute;
      top: 50rem;
      left: 4px;
      color: #fff;
  }
}





@media (min-width: 992px) {
  .container{
    width:1190px;
  }
  .box{
    max-width: 496px;
		margin: 0 auto;
  }
}

  .sideMenu{
    width: 75px;
    .brand__area{
      height:73px;
      .brand__title{
        display: none;
      }
      .brand__img{
        margin-top:12px;
        margin-left: 10px;
        display: block;
      }
    }
    .navItem{
      text-align: center;
      span{
        display: none;
      }
    }
  }

  .trialing{
    text-align: center;
      position: absolute;
      top: 50rem;
      left: 4px;
      color: #fff;
  }




@media (min-width: 992px) {
  .container{
    width:1190px;
  }

  .dashboard {
    float: left;
    width: 290px;
    padding:0 !important;
  }
  .content-main {
    float: left;
    padding:0 !important;
    width: 450px;
    margin: 0 10px;
  }
  .box{
    max-width: 496px;
		margin: 0 auto;
  }
  .box-lg{
    max-width: 590px;
  }
}
