$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';


// Mixin

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : (); /* 3 */
  $rem: (); /* 3 */

  @each $value in $values { /* 4 */

    @if $value == 0 or $value == auto { /* 5 */
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);    /* 6 */
      $val: parseInt($value); /* 6 */

      @if $unit == "px" {  /* 7 */
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" { /* 7 */
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {     /* 8 */
    #{$property}: $px;  /* 9 */
  } @else {
    #{$property}: $px;  /* 9 */
    #{$property}: $rem; /* 9 */
  }
}


// Variables

// Colors

$darkBlack :#1e1e24;
$liteBlack : #292b33;
$accColor : #fac994;
$textColor : #8a8a8a;
$boldText : #444A59;




// fonts

@font-face {
    font-family: 'open_sanslight';
    src: url('../assets/fonts/OpenSans-Light-webfont.eot');
    src: url('../assets/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../assets/fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../assets/fonts/OpenSans-Regular-webfont.eot');
    src: url('../assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../assets/fonts/OpenSans-Semibold-webfont.eot');
    src: url('../assets/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../assets/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../assets/fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body{
	background:$liteBlack;
	color:$darkBlack;
  -webkit-font-smoothing:antialiased;
}

.clickable{
  cursor: pointer;
}

.button-phased{
  border-color:#084D54;
  background:transparent;
  color:#084D54;
  font-weight:300;
  text-transform:uppercase;
  font-size:14px;
  &:hover{
    background:#084D54;
    color:#fff;
  }
}

.button-phased-wht{
  border-color:#fff;
  background:transparent;
  color:#fff;
  font-weight:300;
  text-transform:uppercase;
  font-size:14px;
  border-radius:0;
  &:hover{
    border-color:#084D54;
    background:#084D54;
    color:#fff;
  }
  &.active{
    border-color:#084D54;
    background:#084D54;
    color:#fff;
  }
}

.btn-phased-blue{
  border-color:$liteBlack;
  color:$liteBlack;
  background: transparent;
  border-radius: 2px;
  font-family: 'open_sansregular';
  text-transform: uppercase;
  font-size: 0.95rem;

  letter-spacing: 0.92px;
  line-height: 15px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.3s;
  &:hover{
    color:#fff;
    background: $liteBlack;
  }
}


.btn-circle{

  border-radius: 1000px;
  padding-left: 6px; // for phased-blue buttons
  padding-right: 6px; // for phased-blue buttons

}
.btn-transparent{
  background: transparent;
  border: none;
  outline: none;
  &:focus{
    outline: none;
  }
}
// navbar
.navbar{
  height:60px;
  margin-bottom:30px;
  background: $darkBlack;
  padding-top:0;
  padding-bottom:0;
  border-bottom: none;
  border-radius: 0;
  li{
    font-family: 'open_sansregular';
    text-transform: uppercase;
    color:#fff;
    font-size: 1.25rem;
    letter-spacing: 0.92px;
    line-height: 15px;
  }
  .active{
    background: #888;
    color: #fff;
  }
}
.navbar-brand{
  // padding-top: 5px;
  // padding-bottom:5px;
}
.navbar-nav > li > a {
  padding-top: 17px;
  color:#fff;
  &:hover{

  }
}
.nav > li > a:hover{
  background-color: #000;
}
// Modal
.modal-backdrop{
  background: #fff;
}
.modal-dialog{
  max-width: 700px;
  width: 90%;
}
.modal-content{
  padding:25px;
  border-radius: 0;
}

// Component styles are injected through grunt
// injector
@import 'addcategory/addcategory.scss';
@import 'admin-csvDwl/admin-csvDwl.scss';
@import 'admin/admin.scss';
@import 'billing/billing.scss';
@import 'editcategory/editcategory.scss';
@import 'feed/feed.scss';
@import 'getapp/getapp.scss';
@import 'login/login.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';
@import 'switchteam/switchteam.scss';
@import 'taskPage/taskPage.scss';
@import 'tasks/tasks.scss';
@import 'modal/modal.scss';
@import 'notifications/notifications.scss';
// endinjector
@import 'addcategory/addcategory.scss';
@import 'billing/billing.scss';
@import 'editcategory/editcategory.scss';
@import 'feed/feed.scss';
@import 'getapp/getapp.scss';
@import 'login/login.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';
@import 'switchteam/switchteam.scss';
@import 'tasks/tasks.scss';
@import 'modal/modal.scss';
// endinjector
