$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';


// Mixin

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
  $px : (); /* 3 */
  $rem: (); /* 3 */

  @each $value in $values { /* 4 */

    @if $value == 0 or $value == auto { /* 5 */
      $px : append($px , $value);
      $rem: append($rem, $value);
    }

    @else {
      $unit: unit($value);    /* 6 */
      $val: parseInt($value); /* 6 */

      @if $unit == "px" {  /* 7 */
        $px : append($px,  $value);
        $rem: append($rem, ($val / 10 + rem));
      }

      @if $unit == "rem" { /* 7 */
        $px : append($px,  ($val * 10 + px));
        $rem: append($rem, $value);
      }
    }
  }

  @if $px == $rem {     /* 8 */
    #{$property}: $px;  /* 9 */
  } @else {
    #{$property}: $px;  /* 9 */
    #{$property}: $rem; /* 9 */
  }
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
body{
	background:#084D54;
	color:#fff;
}

.button-phased{
  border-color:#084D54;
  background:transparent;
  color:#084D54;
  font-weight:300;
  text-transform:uppercase;
  font-size:14px;
  &:hover{
    background:#084D54;
    color:#fff;
  }
}

.button-phased-wht{
  border-color:#fff;
  background:transparent;
  color:#fff;
  font-weight:300;
  text-transform:uppercase;
  font-size:14px;
  border-radius:0;
  &:hover{
    border-color:#084D54;
    background:#084D54;
    color:#fff;
  }
  &.active{
    border-color:#084D54;
    background:#084D54;
    color:#fff;
  }
}


.navbar{
	height:80px;
	padding: 1.4rem 1rem 1rem;
	//background:transparent;
  background: rgba(34,34,34,0.01);
	border-color:transparent;
	color:#fff;
  margin-bottom:0;
}
.sub-navbar{
  background:#359C8A;
  border-color: #359C8A;
  color:#fff;
  margin-bottom:0;
}

.navbar-default{
	.navbar-brand{
		color:#fff;
	}
	.navbar-nav > .active > a{
		background:#36BEA6;
		color:#fff;
	}
	.navbar-nav > li > a{
		color:#fff;
		&:hover{
			color:#36BEA6;

		}
	}
}

.blur-effect {
  /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;

  /* Pull the background 70px higher to the same place as #bg's */
  background-position: center -70px;
  filter: url('http://jordanhollinger.com/media/blur.svg');
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.blur-holder{
   /* Put this on top of the blurred layer */
  //position: relative;
  z-index: 100;
  //padding: 20px;
  //background: rgb(34,34,34); /* for IE */
  //background: rgba(34,34,34,0.75);
}

// Component styles are injected through grunt
// injector
@import 'addcategory/addcategory.scss';
@import 'billing/billing.scss';
@import 'editcategory/editcategory.scss';
@import 'feed/feed.scss';
@import 'getapp/getapp.scss';
@import 'login/login.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';
@import 'switchteam/switchteam.scss';
@import 'tasks/tasks.scss';
@import 'modal/modal.scss';
// endinjector
