<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo,!</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li ng-repeat="member in team.members">
          <img width="50" src="{{member.pic}}">
          {{member.name}}
          {{member.task}}
          <button class="btn" ng-click="getHistory(member.uid)">Download History</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Phased.io v0.0.1 </p>
  </div>
</footer>
