.member-holder{
  overflow: auto;
  max-width: 700px;
  width: 90%;
  margin:0 auto;
  margin-top: 50px;
  //margin:0 auto;

}
.member-title{
  overflow: auto;
  h2{
    font-family: "open_sanslight",sans-serif;
    text-transform: capitalize;
    color: #fff;
    padding: 20px;
    display: inline-block;
    float: left;
  }
  a{
    display: inline-block;
    float: right;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 4.5rem;
  }
}
.member-background{
  margin-top: 2rem;
  background: #fff;
}
.member-item{
  overflow: auto;
  padding: 20px;
  display: block;
  //margin-right: 20px;
  margin-bottom: 20px;
  img{
    width: 50px;
    border-radius: 1000px;
    display: inline-block;
    float: left;
  }
  .member-names{
    margin-left: 20px;
    display: inline-block;
    float: left;
    //border-top: 1px solid #f2f2f2;
    //margin-top: 20px;
  }
  h4{
    font-family: "open_sanslight",sans-serif;
    text-transform: capitalize;

    color: $boldText;
    text-align: center;
  }

  // presence dots
  &.presence-online {
    &:after {
      display: block;
      position: relative;
      content: " ";
      background: lightgreen;
      width: 1rem;
      height: 1rem;
      float: right;
      border-radius: 0.5rem;
    }
  }
  &.presence-away {
    &:after {
      display: block;
      position: relative;
      content: " ";
      background: orange;
      width: 1rem;
      height: 1rem;
      float: right;
      border-radius: 0.5rem;
    }
  }
}

.addmember{
  // input[type="email"]{
  //   display: block;
  //   width: 100%;
  //   border: none;
  //   border-bottom: 1px solid $liteBlack;
  //   outline: none;
  // }
  .addMember-btnHolder{
    margin-top: 40px;
  }
}
