
<div ng-include="'components/navbar/navbar.html'"></div>
<section class="hero-img">
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="member-holder">
          <div class="member-title">
            <h2>Members</h2>

          </div>

          <div class="member-background">
            <div
              class="member-item "
              ng-repeat="member in team.members | orderBy: 'name'"
              ng-click="goToUser(member.uid)"
              >
              <img src="{{member.pic}}">
              <h4 align="center">{{member.name}}</h4>
              <p ng-if="Phased.PRESENCE[member.presence] == 'offline' && member.lastOnline" align="center"><small>Last seen <span am-time-ago="member.lastOnline"></span></small></p>
              <p ng-if="Phased.PRESENCE[member.presence] == 'online'" align="center" style="color:lightgreen; font-weight:bold"><small>ONLINE</small></p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="member-title">
          <h2>Usage</h2>

        </div>
      </div>
      <div class="col-xs-6">
        <div class="ph-card">
          <h5 align="center">Status updates today</h5>
          <h1 align="center">{{stats.todaysUpdates}}</h1>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="ph-card">
          <h5 align="center">tasks completed today</h5>
          <h1 align="center">{{stats.todaysTasks}}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="ph-card" style="margin-top:40px; min-height:5rem;">
          <h5 >velocity</h5>
            <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-legend="true" chart-series="series"
            chart-click="onClick" >
          </canvas>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="ph-card" style="margin-top:40px">
          <h5 align="center" >
            <a href="team/addcategory">Add / Change a Category</a>
          </h5>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="ph-card"  style="margin-top:40px;">
          <h5 align="center" >Category Breakdown</h5>
          <canvas id="pie" class="chart chart-pie"
            chart-data="dataPie" chart-labels="labelsPie">
          </canvas>
        </div>
      </div>
    </div>
   <div class="row">
     <div class="col-xs-6">
       <div class="ph-card" style="margin-top:40px">
         <h5 align="center">
           Switch to team...
         </h5>
         <ul>
           <li ng-repeat="otherTeam in Phased.user.teams">
             <a href="#" ng-click="Phased.switchTeam(otherTeam.id)">{{otherTeam.name}}</a>
           </li>
         </ul>
       </div>
     </div>
     <div class="col-xs-6">
       <div class="ph-card" style="margin-top:40px;">
         <h5 align="center">Project breakdown</h5>
         <!-- <canvas id="pie1" class="chart chart-pie"
chart-data="dataPie" chart-labels="labelsPie">
</canvas> -->
       </div>
     </div>
   </div>

    </div>
  </div>
</section>




<!-- add team -->
<div class="modal fade addteam" id="addTeamModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body row">
        <div class="col-xs-6">
          <h4>Create a Team</h4>
          <p>It looks like you're not a member of any teams.</p>
          <p><small>Phased is project management software and works best with groups of people. Let's gather your coworkers under one banner and get started.</small></p>
        </div>
        <div class="col-xs-6">
          <form name="addteam" ng-submit="addTeam(teamName)" novalidation>
            <label style="color:#000;" for="teamName">Team name</label>
            <input type="text" id="teamName" ng-model="teamName" placeholder="Zeppco" style="color:#000;"required>
            <div class="addMember-btnHolder">
              <input type="submit" class="btn btn-primary" value="Create team">
            </div>
          </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
