<div ng-include="'components/content-nav/content-nav.html'"></div>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 clearfix">


        <div class="box member__box" ng-repeat="item in team.members " class="clearfix">
          <header>
            <img ng-src="{{::item.pic}}" alt="{{::item.name}}" width="35px"/>
            <h3>{{item.name}}</h3>
          </header>
          <div class="member__box__tasks">
            <ul>
              <li ng-repeat="task in getTasks[item.key]">{{taskList[task].name}} </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <button class="btn btn-phased-blue btn-block " ng-click="logout()">logout</button> -->

      <!-- <div class="content__area">

        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12">

              <div class="member-holder">
                <div class="member-title">
                  <h2>Members</h2>

                </div>

                <div class="member-background">
                  <div
                    class="member-item clickable"
                    ng-repeat="member in team.members | orderBy: 'name'"
                    ng-click="goToUser(member.uid)"
                    >
                    <img src="{{member.pic}}">
                    <h4 align="center">{{member.name}}</h4>
                    <p ng-if="Phased.PRESENCE[member.presence] == 'offline' && member.lastOnline" align="center"><small>Last seen <span am-time-ago="member.lastOnline"></span></small></p>
                    <p ng-if="Phased.PRESENCE[member.presence] == 'online'" align="center" style="color:lightgreen; font-weight:bold"><small>ONLINE</small></p>

                  </div>
                  <div
                    class="member-item clickable"
                    data-toggle="modal"
                    data-target="#addMemberModal"
                    >
                    <div class="member__add__member">
                      <p>+</p>
                    </div>
                    <h4 align="center">Add member</h4>
                    <p align="center">
                      <small>Bring a new member on!</small>
                    </p>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">


            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="ph-card" style="margin-top:40px">
                <h5 align="center" >
                  <a href="team/addcategory">Add / Change a Category</a>
                </h5>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="ph-card" style="margin-top:40px">
                <h5 align="center">
                  Switch to team...
                </h5>
                <ul>
                  <li ng-repeat="otherTeam in Phased.user.teams">
                    <a href="#" ng-click="Phased.switchTeam(otherTeam.id)">{{otherTeam.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
         <div class="row">


         </div>
        </div>
      </div> -->

    </div>


    </div>
  </div>
</section>




<!-- add team -->
<div class="modal fade addteam" id="addTeamModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body row">
        <div class="col-xs-6">
          <h4>Create a Team</h4>
          <p>It looks like you're not a member of any teams.</p>
          <p><small>Phased is project management software and works best with groups of people. Let's gather your coworkers under one banner and get started.</small></p>
        </div>
        <div class="col-xs-6">
          <form name="addteam" ng-submit="addTeam(teamName)" novalidation>
            <label style="color:#000;" for="teamName">Team name</label>
            <input type="text" id="teamName" ng-model="teamName" placeholder="Zeppco" style="color:#000;"required>
            <div class="addMember-btnHolder">
              <input type="submit" class="btn btn-primary" value="Create team">
            </div>
          </form>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- add member -->
<div class="modal fade addmember" id="addMemberModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 style="color:#000;" class="modal-title no-shadow">Add member</h4>
      </div>
      <div class="modal-body ">

        <p>{{::team.name}} has <b>{{numMembers}} / 10 </b>  members.</p>
        <p>Your team can only hold <b>10 members</b>. For more information on what your plan provides check out <a href="http://www.phased.io/pricing" target="_blank">this page</a></p>

        <p>If you need to remove members please contact <a href="mailto:support@phased.io">support@phased.io</a></p>
        <form name="addmember" ng-submit="addMembers(user)" novalidation ng-if="canAddMembers">
          <div class="form-group">
            <label ffor="addEmail">Email address</label>
            <input type="email" class="form-control" iid="addEmail" ng-model="user.email" placeholder="email" required>
          </div>
          <div class="addMember-btnHolder">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-primary" value="Add member">
          </div>
        </form>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
