<div ng-controller="NotifCtrl" class="dropdown toggleNotifBtn " ng-class="{ hasUnread : hasUnread() }">
	<button id="dLabel" type="button" ng-click="togglePane()" class="btn btn-transparent no-padding" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-bell-o fa-lg"></i>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
		<li ng-repeat="notif in notifications.stream | orderObjectBy : 'time' : true | limitTo : 10" ng-class="{unread : !notif.read}" class="notif {{::notif.type}}">
			<a href="#">
				<h5>{{::notif.title}}</h5>
				<p>{{::notif.body}}</p>
				<p>
					<small>{{::notif.time | date : 'short'}}</small>
				</p>
			</a>

		</li>

	</ul>
</div>
