<!-- NAVBAR -->
<nav class="sideMenu" ng-controller="SidebarCtrl">
	<div class="brand__area">
		<h2 class="brand__title" align="center">Phased</h2>
		<img class="brand__img" src="assets/images/phased-logo.svg" height="50" width="50px" />
		<p ng-if="phased.viewType == trialing" class="trialing">
			trial version
		</p>
	</div>
	<a
		ng-repeat="item in menu"
		class="navItem"
		ng-href="{{item.link}}"
		ng-class="{ active: isActive(item.link) }" 
		ng-click="item.function">
		<i class="fa fa-{{item.icon}}"></i>
		<span>{{item.title}}</span>
	</a>
	<a
		ng-href="/admin"
		class="navItem"
		ng-if="showAdmin">
		<i class="fa fa-cog"></i>
		<span>Admin</span>
	</a>
</nav>
