<!-- NAVBAR -->
<nav class="sideMenu" ng-controller="SidebarCtrl">
  <a ng-repeat="item in menu" class="navItem" ng-href="{{item.link}}" ng-class="{ active: isActive(item.link) }" ng-click="item.function"><i class="fa fa-{{item.icon}}"></i>{{item.title}}</a>
  <a ng-href="/admin" class="navItem" ng-if="showAdmin"><i class="fa fa-cog"></i>Admin</a>
  <ul>
    <!-- <li class="active" ng-click="mixpanel.track('Feed page');"> <a href="#"></a> <i class="fa fa-rss"></i>Feed</li>
    <li><i class="fa fa-check"></i>Tasks</li>
    <li><i class="fa fa-users"></i>Team</li>
    <li><i class="fa fa-user"></i>Profile</li>
    <li><i class="fa fa-cog"></i>Settings</li> -->
    <li   >

    </li>
    <li >

    </li>
  </ul>
</nav>
