<style>
	.hero-img {
	  background:  linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ), url(assets/images/{{dayImage}}) no-repeat center center ;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

</style>

<div ng-include="'components/navbar/navbar.html'"></div>

<section class="hero-img">
</section>
<section class="container-fluid">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="profile-holder transparent">
        <div class="col-xs-6 profile-user">
          <img src="{{currentUser.gravatar}}" alt="" height="40px" width="40px" />
          <h2>{{currentUser.name}}</h2>
        </div>
        <div class="col-xs-6 profile-user">
          <ul>
            <li><span>updates</span><span>{{currentUser.history.length}}</span></li>
            <li><span>email</span><span>{{currentUser.email}}</span></li>
            <li><span>tel</span><span>{{currentUser.tel}}</span></li>
            <li><span>slack</span><span>@brian</span></li>

          </ul>
        </div>
      </div>
      <div class="profile-holder">
        <div class="profile-nav">
          <ul class="" role="tablist" id="myTabs">
            <li role="presentation" class="active"><a href="#history" aria-controls="home" role="tab" data-toggle="tab">History</a></li>
            <li><a href="#backlog" aria-controls="home" role="tab" data-toggle="tab">backlog</a></li>
            <li><a href="#history" aria-controls="home" role="tab" data-toggle="tab">Stats</a></li>
            <li><a href="#settings" aria-controls="home" role="tab" data-toggle="tab">edit</a></li>
          </ul>
        </div>


        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="history">

            <!-- HISTORY -->
            <div class="profile-history">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      Task
                    </th>
                    <th>
                      Category
                    </th>
                    <th>
                      Time
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in currentUser.history | orderBy : 'time':true">
                    <td>
                      {{item.name}}
                    </td>
                    <td>
                      {{$parent.team.categoryObj[item.cat].name}}
                    </td>
                    <td>
                      <span am-time-ago="item.time"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <h6 ng-show="team.history.length == 0" align="center"> No updates for time period</h6>
            </div>
          </div>

          <!-- BACKLOG -->
          <div role="tabpanel" class="tab-pane" id="backlog">
            <div class="profile-backlog">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      Task
                    </th>
                    <th>
                      Category
                    </th>
                    <th>
                      Priority
                    </th>
                    <th>
                      Due date
                    </th>
                    <th>
                      Status
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in currentUser.assignments.to_me ">
                    <td>
                      {{item.name}}
                    </td>
                    <td>
                      <span ng-if="item.cat">{{team.categoryObj[item.cat].name}}</span>
                      <span ng-if="!item.cat">Not Set</span>
                    </td>
                    <td>
                      {{taskPriorities[item.priority].name}}
                    </td>
                    <td>
                       <span ng-if="item.deadline">{{item.deadline | amDateFormat:'MM.DD.YYYY '}}</span>
                       <span ng-if="!item.deadline">Not Set</span>
                    </td>
                    <td>
                      {{taskStatuses[item.status].name}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="messages">...</div>
          <!-- EDIT -->
          <div role="tabpanel" class="tab-pane" id="settings">
						<div class = "row">
			        <div class="col-xs-4">
			          <img style="height: 120px; width: 120px; border-radius: 50%" src="{{currentUser.gravatar}}">

			        </div>
			        <div class="col-xs-4">


			          <input class="" type="file" accept="image/*" capture="camera" id="file-upload">
			          <button ng-click="changeImage()" class="btn btn-primary btn-lg btn-block ">Change Image</button>

			        </div>
      			</div>
						<form name="updateForm" ng-submit="updateUser(update)" novalidate>

            <div class="login login-drk" style="background:transparent;">
              <div class="item item-input item-stacked-label">
                <label class="input-label" for="name">name</label>
                <input class="loginInput" type="text" id="name" ng-model="update.name" placeholder="{{currentUser.name}}">
              </div>
							<div class="item item-input item-stacked-label">
                <label class="input-label" for="tel">tel</label>
                <input class="loginInput" type="tel" id="tel" ng-model="update.tel" placeholder="{{currentUser.tel}}">
              </div>
              <div class="item item-input item-stacked-label">
                <label class="input-label" for="email">email</label>
                <input class="loginInput" type="email" id="email" ng-model="update.email" placeholder="{{currentUser.email}}">
              </div>
              <div class="item item-input item-stacked-label">
                <label class="input-label" for="oldpassword">old password</label>
                <input class="loginInput" type="password" id='oldpassword' ng-model="update.oldPass" placeholder="">
              </div>
              <div class="item item-input item-stacked-label">
                <label class="input-label" for="newpassword">new password</label>
                <input class="loginInput" type="password" id='newpassword' ng-model="update.newPass" placeholder="">
              </div>
              <div class="item">
                <input type="submit" class="btn btn-primary btn-lg btn-block " value="Update Account!">
              </div>
            </div>
          </form>


					</div>
        </div>



      </div>
    </div>

  </div>

</section>
