<style>
	body {
	  /*background:  linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ), url(assets/images/{{dayImage}}) no-repeat center center fixed;*/
		background: #F2F2F2;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
</style>

<div ng-include="'components/navbar/navbar.html'"></div>


<section class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <div class="ph-profile-dp">
        <img src="assets/images/phased-logo.svg" alt="" />
        <img src="{{currentUser.gravatar}}" alt="" />
      </div>
      <div class="ph-card">
        <div class="profile-user">
          <h5>{{currentUser.name}}</h5>
          <a href="">Edit</a>
        </div>
        <div class="profile-contact-info">
          <div class="profile-contact-email">
            <p class="contact-title">Contact</p>
            <p>
              brian@phased.io
            </p>
          </div>
          <div class="profile-contact-holder">
            <div class="profile-contact">
              <p class="contact-title">Title</p>
              <p>
                CTO
              </p>
              <p class="contact-title">Twitter</p>
              <p>
                @brianbest
              </p>
            </div>
            <div class="profile-contact">
              <p class="contact-title">Slack</p>
              <p>
                @brian
              </p>
              <p class="contact-title">LinkedIn</p>
              <p>
                brianbest101
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="ph-card profile-history">
        <h6>history</h6>
        <table class="table">
          <thead>
            <tr>
              <th>
                Task
              </th>
              <th>
                Category
              </th>
              <th>
                Time
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in team.history | orderBy : 'time':true">
              <td>
                {{item.name}}
              </td>
              <td>
                {{$parent.team.categoryObj[item.cat].name}}
              </td>
              <td>
                <span am-time-ago="item.time"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-3 profile-stats">

      <div class="ph-card stat-card ">
        <h6>CATEGORY BREAKDOWN</h6>
        <h5 align="center">Your most active category</h5>
        <h2 align="center">Building features</h2>
      </div>
      <div class="ph-card profile-spacing stat-card">
        <h6>CATEGORY BREAKDOWN</h6>
        <div class="fake-pie"></div>
      </div>

      <div class="ph-card profile-spacing stat-card">
        <h2 align="center">See more stats</h2>
      </div>


    </div>
  </div>
</section>


<!-- <section class="container">
  <div class = "row">
        <div class="col-xs-4">
          <img style="height: 120px; width: 120px; border-radius: 50%" src="{{currentUser.gravatar}}">

        </div>
        <div class="col-xs-4">


          <input class="" type="file" accept="image/*" capture="camera" id="file-upload">
          <button ng-click="changeImage()" class="btn btn-primary btn-lg btn-block button-phased-wht">Change Image</button>

        </div>
      </div>
      <img style="height: 300; width: 300" class="pano" id="pano" />
      <div class="row">
        <div class="col-xs-12">
          <h3 style="" class='no-shadow'>Edit Your information:</h3>
          </br>

          <form name="updateForm" ng-submit="updateUser(update)" novalidate>

            <div class="login login-drk" style="background:transparent;">
              <div class="item item-input item-stacked-label">
                <label class="input-label" for="name">name</label>
                <input class="loginInput" type="text" id="name" ng-model="update.name" placeholder="{{currentUser.name}}">
              </div>
              <div class="item item-input item-stacked-label">
                <label class="input-label" for="email">email</label>
                <input class="loginInput" type="email" id="email" ng-model="update.email" placeholder="{{currentUser.email}}">
              </div>
              <div class="item item-input item-stacked-label">
                <label class="input-label" for="oldpassword">old password</label>
                <input class="loginInput" type="password" id='oldpassword' ng-model="update.oldPass" placeholder="">
              </div>
              <div class="item item-input item-stacked-label">
                <label class="input-label" for="newpassword">new password</label>
                <input class="loginInput" type="password" id='newpassword' ng-model="update.newPass" placeholder="">
              </div>
              <div class="item">
                <input type="submit" class="btn btn-primary btn-lg btn-block button-phased-wht" value="Update Account!">
              </div>
            </div>
          </form>


        </div>
      </div>
    </div>
</section> -->
