<style>
/*.hero-img {
	background:  linear-gradient(
		rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0.25)
	), url(assets/images/{{dayImage}}) no-repeat center center ;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
</style>



<div ng-include="'components/navbar/navbar.html'"></div>
<section class="hero-img">
</section>

<section class="container">
  <div class="row">

    <!-- TASK STREAM -->
    <div class="task-stream" ng-class="tasklistSize">

			<div class=" ph-card task-list">
        <div class="task-filter">
          <button class="btn btn-phased-blue add-new-task" ng-click="addAssignmentModal();">New task</button>
          <div class="styled-select">
            <select ng-model="filterView" ng-change="setActiveStream(filterView)" ng-init="filterView = 'all'">
              <option value="assigned_to_me" >assigned to me</option>
              <option value="assigned_by_me">tasks I've assigned</option>
              <option value="unassigned">unassigned tasks</option>
              <option value="delegated">delegated to others</option>
              <option value="in_progress">in progress</option>
              <option value="completed">closed tasks</option>
              <option value="all">all</option>
              <!-- <option value="archive">archived tasks</option> -->
            </select>
          </div>
        </div>

        <!-- <select>
          <
        </select> -->
        <form id="todo-form" ng-submit="addTodo()">
          <input id="new-todo" class="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus autocomplete="off">
        </form>


				<table class="table table-hover">
					<tbody>
            <!-- for this ng-repeat to work, it has to be based on team or possibly Phased; if we start
            with it on projects['0A'], it will watch before it's loaded and will thus be looking just at undefined rather than a property that could change -->
						<tr class="task" ng-repeat="assignment in team.projects['0A'].columns['0A'].cards['0A'].tasks | 
            filterTaskByStatus : activeStatusFilter | 
            filterTaskByCategory : activeCategoryFilter | 
            filterTaskByAssignment : activeAssignmentDirection : activeAssignmentID |
            orderObjectBy : 'time' : true" >
							<td ng-click="selectTask(assignment)">
								{{assignment.name}} <small>{{Phased.task.STATUS[assignment.status]}}</small>
							</td>

							<td>
                <div class="task-meta">
                  <div class="task-due" ng-click="selectTask(assignment)">
                    {{assignment.deadline | date : 'd MMM yy'}}
                  </div>
                  <div class="task-assigned" ng-click="selectTask(assignment)">
                    <img
                      ng-if="!assignment.unassigned"
                      ng-src="{{team.members[assignment.assigned_to].pic}}"
                      width="25px"
                      height="25px"
                      />
                  </div>
                  <div class="task-quick-action">
                    <button type="button" class="btn btn-phased-blue btn-circle" uib-tooltip="Post as status" name="button" ng-if="assignment.status != Phased.task.STATUS_ID.ASSIGNED" ng-click="broadcastTask(assignment)"><i class="fa fa-lg fa-share"></i></button>
                    <button class="btn btn-phased-blue btn-circle" uib-tooltip="Start task" ng-if="assignment.status == Phased.task.STATUS_ID.ASSIGNED" ng-click="startTask(assignment)"><i class="fa fa-play" ></i></button>
                  </div>
                </div>

							</td>
						</tr>

					</tbody>
				</table>
			</div>
    </div>
		<div class="" ng-class="taskDescript">
			<div class="task ph-card">
        <div class="task-header">
          <ul class="task-meta-bar">
            <li class="task-meta-bar-item ">
              <p ng-if="taskInfo.assigned_to">Assigned </p>
              <p ng-if="taskInfo.unassigned">Assign task to </p>
              <div class="dropdown">
                <button id="dLabel" type="button" class="btn btn-transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img ng-if="taskInfo.assigned_to" src="{{team.members[taskInfo.assigned_to].pic}}" width="35px" height="35px">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                  <li ng-repeat="member in team.members"><a href="#" ng-click="taskEditAssigned(taskInfo.key,member.uid)"><img src="{{member.pic}}" width="35px" height="35px"> <p>
                    {{member.name}}
                  </p></a></li>


                </ul>
              </div>



            </li>
            <li class="task-meta-bar-item added-padding">
              <p align="center" ng-if="taskInfo.deadline" ng-click="open($event)">Due date: <i class="fa fa-calendar-o"></i>&nbsp; {{taskInfo.deadline | date : 'MMM dd'}}</p>
              <p align="center" ng-if="!taskInfo.deadline" ng-click="open($event)">Due date: <i class="fa fa-calendar-o"></i></p>
              <p class="input-group">
                <input type="text" class="form-control hidden"  uib-datepicker-popup="{{format}}" ng-model="taskInfo.deadline" ng-change="taskEditDate(taskInfo.key,taskInfo.deadline)" init-date="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              </p>
            </li>
            <li class="task-meta-bar-item ">
              <button type="button" class="close"  aria-label="Close" ng-click="closeDetails()"><span aria-hidden="true">&times;</span></button>
            </li>
          </ul>

        </div>
				<textarea class="task-title h3" ng-model="taskInfo.name" ng-blur="taskEditName(taskInfo.key,taskInfo.name)"></textarea>

        <textarea class="task-title" ng-model="taskInfo.description" ng-blur="taskEditDesc(taskInfo.key,taskInfo.description)" placeholder="Enter description..."></textarea>

        <p>Assigned by: {{team.members[taskInfo.assigned_by].name}}</p>

        <div class="dropdown">
          <p id="dLabel1" class="clickable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category: {{team.categoryObj[taskInfo.cat].name}} <span class="caret"></span>

          </p>
          <ul class="dropdown-menu" aria-labelledby="dLabel1">
            <li ng-repeat="(key, category) in team.categoryObj">
              <a href="#" ng-click="changeCategory(taskInfo.key, key)">
                <p>
                 {{category.name }}
                </p>
              </a>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <p id="dLabel2" class="clickable"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Priority : {{Phased.task.PRIORITY[taskInfo.priority]}} <span class="caret"></span>

          </p>
          <ul class="dropdown-menu" aria-labelledby="dLabel2">
            <li ng-repeat="priority in Phased.task.PRIORITY_ID | orderBy">
              <a href="#" ng-click="changePriority(taskInfo.key, priority)">
                <p>
                 {{ Phased.task.PRIORITY[priority] }}
                </p>
              </a>
            </li>
          </ul>
        </div>

        <p>
          Status: {{Phased.task.STATUS[taskInfo.status]}}
        </p>

        <div class="task-archive" ng-if="taskInfo.user == myID || taskInfo.assignee == myID || taskInfo.assigned_to == myID">
          <button type="button" class="btn btn-phased-blue btn-block" name="button" ng-if="taskInfo.status != Phased.task.STATUS_ID.ASSIGNED">  post as status  <i class="fa fa-lg fa-share"></i></button>
          <button class="btn btn-phased-blue btn-block" ng-if="taskInfo.status == Phased.task.STATUS_ID.ASSIGNED" ng-click="startTask(taskInfo)">Start <i class="fa fa-play"></i></button>
          <button class="btn btn-phased-blue btn-block" ng-if="taskInfo.status != Phased.task.STATUS_ID.COMPLETE" ng-click="setTaskCompleted(taskInfo.key)">complete <i class="fa fa-lg fa-check-circle-o"></i></button>
          <!-- <button class="btn btn-phased-blue btn-block" ng-if="activeStreamName != 'archive'" ng-click="moveToArchive(taskInfo.key);">archive <i class="fa fa-lg fa-trash-o"></i></button> -->
          <!-- <button class="btn btn-phased-blue btn-block" ng-if="activeStreamName == 'archive'" ng-click="moveFromArchive(taskInfo.key);">unarchive</button> -->
        </div>




			</div>

      <!-- TASK HISTORY -->
      <div class="ph-card" ng-if="taskInfo.history">
        <h4>Task History</h4>
        <div ng-repeat="moment in taskInfo.history | orderObjectBy : 'time' : true">
          <h5>{{moment.type | historyType}} <small>{{moment.time | date : 'short'}}</small></h5>

          <!-- assigned -->
          <p ng-if="moment.type == Phased.task.HISTORY_ID.ASSIGNEE">Assigned by {{team.members[moment.snapshot.assigned_by].name}}</p>
          <p ng-if="moment.type == Phased.task.HISTORY_ID.ASSIGNEE">Assigned to {{team.members[moment.snapshot.assigned_to].name}}</p>

          <!-- priority -->
          <p ng-if="moment.type == Phased.task.HISTORY_ID.PRIORITY">
            to {{Phased.task.PRIORITY[moment.snapshot.priority]}}
          </p>

          <!-- status -->
          <p ng-if="moment.type == Phased.task.HISTORY_ID.STATUS">
            to {{Phased.task.STATUS[moment.snapshot.status]}}
          </p>

          <!-- category -->
          <p ng-if="moment.type == Phased.task.HISTORY_ID.CATEGORY">
            to {{team.categoryObj[moment.snapshot.cat].name}}
          </p>
        </div>
      </div>
		</div>

  </div>

</section>

<!-- add task -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="addmember" ng-submit="addAssignment(newTask)" novalidation>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 style="color:#000;" class="modal-title no-shadow">Add task</h4>
        </div>
        <div class="modal-body">
        	<label for="taskName">Task name</label>
         	<input type="text" id="taskName" ng-model="newTask.name" placeholder="Build a rocket">

          <label for="category">Category</label>
          <select ng-options="key as category.name for (key, category) in team.categoryObj" ng-model="newTask.category" id="category"></select>

          <label for="priority">Priority</label>
          <select ng-options="priority as Phased.task.PRIORITY[priority] for priority in Phased.task.PRIORITY_ID" ng-model="newTask.priority" id="priority"></select>

          <label for="deadline">Deadline</label>

          <div style="display:inline-block; min-height:250px;">
            <uib-datepicker ng-model="newTask.deadline" min-date="minDate" show-weeks="true" init-date="dt" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
          </div>

          <label for="assignee">Assign to</label>

          <!-- this should default to unassigned -->
          <select ng-options="key as member.name for (key, member) in team.members" ng-model="newTask.assignee" id="assignee" ng-disabled="newTask.unassigned"></select>
          <a href="#" ng-click="newTask.assignee = myID">Assign me</a>
          <label for="unassigned">Unassigned</label>
          <input type="checkbox" ng-model="newTask.unassigned" />

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add task">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<toaster-container toaster-options="{'time-out': 2000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
