
<div ng-include="'components/content-nav/content-nav.html'"></div>
<section class="container">
  <div class="row">
    <div class="hidden-xs col-sm-4 dashboard">
      <!-- <div class="feed__team__name box ">
        <h3>Select a list</h3>
      </div>
      <div class="box feed__members">
        <ul >
          <li ng-repeat="item in team.members | orderObjectBy: 'lastOnline':true" class="clearfix">
            <a href="" class="feed__members__link clearfix">
              <img ng-src="{{::item.pic}}" alt="{{::item.name}}" width="35px"/>
              <div class="feed__members__name">
                {{::item.name}}
              </div>
              <div class="online" ng-if="item.presence == 1">


              </div>
              <div class="offline" ng-if="item.presence != 1">
                <span class="hidden-sm" am-time-ago="item.lastOnline"></span>

              </div>
            </a>

          </li>
        </ul>
        <button type="button" class="btn btn__phased__fb btn-block" name="button" data-toggle="modal" data-target="#addMemberModal">Add member</button>
      </div> -->
    </div>
    <div class="col-xs-12 col-sm-8 col-md-5  content-main">
      <div class="task__holder">
        <div class="task__filters">
          <h3>Your To-Do List</h3>
        </div>
        <div class="list-group">
          <a href="#" class="list-group-item clearfix" sly-repeat="assignment in team.projects['0A'].columns['0A'].cards['0A'].tasks | orderObjectBy : 'time' : true" ng-if="getFilter(assignment)">
            <div class="task__complete" ng-click="setCompleted(assignment)">
              <i class="fa fa-check"></i>
            </div>
            <div class="task__name" ng-click="sendToTask('0A','0A','0A',assignment.key)">
              {{assignment.name}}
              <div class="task__meta__icons">
                <span ><i class="fa fa-rss"></i> {{Phased.task.STATUS[assignment.status]}}</span>
                <span ng-if="assignment.description"><i class="fa fa-align-left" ></i></span>
                <span ng-if="assignment.deadline"><i class="fa fa-calendar"></i> {{assignment.deadline | date : 'MMM dd'}}</span>

              </div>
            </div>
            <div class="task__details" ng-click="deleteTask('0A','0A','0A',assignment.key)">
              <i class="fa fa-times"></i>
            </div>
          </a>
        </div>
        <div class="task__add">
          <form id="todo-form" ng-submit="addTodo()">
            <input id="new-todo" class="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus autocomplete="off">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- add task -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="addmember" ng-submit="addAssignment(newTask)" novalidation>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 style="color:#000;" class="modal-title no-shadow">Add task</h4>
        </div>
        <div class="modal-body">
        	<label for="taskName">Task name</label>
         	<input type="text" id="taskName" ng-model="newTask.name" placeholder="Build a rocket">

          <label for="category">Category</label>
          <select ng-options="key as category.name for (key, category) in team.categoryObj" ng-model="newTask.category" id="category"></select>

          <label for="priority">Priority</label>
          <select ng-model="newTask.priority" id="priority">
            <option ng-repeat="priority in Phased.task.PRIORITY_ID" value="{{::priority}}">{{::Phased.task.PRIORITY[priority]}}</option>
          </select>

          <label for="deadline">Deadline</label>

          <div style="display:inline-block; min-height:250px;">
            <uib-datepicker ng-model="newTask.deadline" min-date="minDate" show-weeks="true" init-date="dt" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
          </div>

          <label for="assignee">Assign to</label>

          <!-- this should default to unassigned -->
          <select ng-options="key as member.name for (key, member) in team.members" ng-model="newTask.assignee" id="assignee" ng-disabled="newTask.unassigned"></select>
          <a href="#" ng-click="newTask.assignee = myID">Assign me</a>
          <label for="unassigned">Unassigned</label>
          <input type="checkbox" ng-model="newTask.unassigned" />

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add task">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<toaster-container toaster-options="{'time-out': 2000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
