.modal-content {
    input,
    input[type="date"],
    p,
    label {
        display: block;
        width: 100%;
    }
}
.task__holder{

}
.task__add{
  display: block;
  padding: 12px;

  width: 100%;
  margin-bottom: 20px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background-color: #fff;
  .new-todo{
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid rgba(0,0,0,.35);
  }
}

.task__name,.task__details,.task__complete{
  display: inline-block;
  float: left;
}

.task__complete{
  margin-right: 10px;
  .fa{
    padding: 10px;
    border: 1px solid #a4a4a4;
    color:#a4a4a4;
    border-radius: 1000px;
    transition: all 0.3s;
  }
  &:hover{
    .fa{
      border-color: #2fc2a3;
      color:#2fc2a3;
    }
  }
}
.task__name{
  width: 75%;
  padding-bottom: 2rem;
}
.task__details{
  float: right;
}


/*
*
* MEDIA QUERIES
*
*
*/

@media (min-width: 992px) {
	.task__holder{
		max-width: 496px;
		margin: 0 auto;
	}

}

// .task{
//   cursor: pointer;
//
//   img{
//     border-radius: 1000px;
//   }
//
//   .task-title{
//     width: 100%;
//     font-family: "open_sanssemibold",sans-serif;
//     text-transform: none;
//     line-height: 30px;
//     color: #595959;
//     margin: 0;
//     margin-bottom: 20px;
//     border: 1px solid transparent;
//     outline: none;
//     resize: none;
//     transition: all 0.3s;
//     &:hover{
//       border: 1px solid #2fc2a3;
//     }
//   }
//
//   .task-header{
//     .task-meta-bar{
//       margin: 0;
//       padding: 0;
//       list-style: none;
//       //overflow: auto;
//       height: 40px;
//       margin-bottom: 12px;
//     }
//     .task-meta-bar-item{
//       display: inline-block;
//       margin-right: 5px;
//     }
//     .dropdown-menu{
//       li{
//         img,p{
//           display: inline-block;
//         }
//       }
//     }
//
//   }
//   .task-meta-bar-item{
//     border: 1px solid transparent;
//     cursor: pointer;
//     border-radius: 1000px;
//     margin-right: 20px;
//     float: left;
//     .cal__btn{
//       -webkit-box-align: center;
//       align-items: center;
//       border: 1px solid #B9BCC0;
//       border-radius: 50%;
//       font-size: 1.33333em;
//       line-height: 2.2em;
//       vertical-align: -15%;
//       //height: 16px;
//       //width: 16px;
//       padding:0px 10px;
//       -webkit-box-sizing: border-box;
//       color: #B9BCC0;
//       transition: border 200ms,box-shadow 200ms,color 200ms;
//     }
//     &:hover{
//       //border-color:$liteBlack;
//       border-color:transparentize(#2fc2a3, 0.1);
//     }
//
//     p,.dropdown{
//       display: inline-block;
//     }
//
//     p{
//       margin-bottom: 0;
//     }
//   }
//
// }// end .task
//
//
// //todo quick enter
// .new-todo{
//   width: 100%;
//   margin-bottom: 2rem;
//   padding: 10px;
//   text-align: center;
//   border: 1px solid rgba(0,0,0,0.35);
// }
//
// //Calendar styles
//
// .task-meta-bar{
//   .input-group-btn{
//     display:inline-block;
//   }
// }
//
// .task__area{
//   overflow: auto;
//
// }
// .task__details,.task__list{
//   float:left;
//   display: inline-block;
// }
// .task__list{
//   width:33.33333333%;
//   background: #fff;
//   border-right:1px solid rgb(223, 224, 228);
//
//   ul{
//     padding:0;
//     margin: 0;
//     list-style: none;
//   }
//
// }
// .task__details{
//   width:66.66%;
//   background: #fff;
//   border-right:1px solid rgb(223, 224, 228);
//   padding: 12px;
// }
// .task__add{
//   padding-top:12px;
//   padding-left:15px;
//   padding-right:15px;
// }
// .task__item{
//   padding-left:15px;
//   padding-right:15px;
//   border-bottom:1px solid rgb(208, 209, 213);
//   cursor: pointer;
//   .task__item__title{
//     h4{
//       font-size: 15px;
//       font-weight: 400;
//       line-height: 1.4;
//       text-transform: none;
//       font-family: 'open_sansregular';
//     }
//   }
//   .task__item__meta{
//     font-family: 'open_sanslight';
//     p{
//       font-family: inherit;
//     }
//   }
// }
