<div ng-include="'components/navbar/navbar.html'"></div>

<section class="container">
  <div class="row">

    <!-- ASSIGNED BY ME -->
    <div class="col-xs-4">
      <h2>Tasks I've assigned to others</h2>
      <button class="btn btn-block button-phased-wht" ng-click=" addTaskModal();">Assign a task</button>
      <div ng-repeat="member in watched">
        <h3>{{member.name}}</h3>
        <div ng-repeat="assignment in member.assigned_to_me | orderBy : 'time'" class="task">
          <h4>{{assignment.name}}</h4>
          <p>on {{assignment.time | date:'short'}}</p>
          <p>in {{team.categoryObj[assignment.cat].name}}</p>
          <p>status: {{taskStatuses[assignment.status].name}}</p>
        </div>
      </div>
    </div>

    <!-- ASSIGNED TO ME -->
    <div class="col-xs-4 team-aside">
      <h2>Tasks assigned to me</h2>
      <div>
        <div ng-repeat="(id, assignment) in team.members[myID].assigned_to_me | orderBy : 'time'" class="task">
          <h4>{{assignment.name}}</h4>
          <h5><a href="#" ng-click="activateTask(assignment, id)">work on this</a></h5>
          <p>on {{assignment.time | date:'short'}} by {{team.members[assignment.assigned_by].name}}</p>
          <p>in {{team.categoryObj[assignment.cat].name}}</p>
          <p>status: {{taskStatuses[assignment.status].name}}</p>
        </div>
      </div>
    </div>

    <!-- MY FEED -->
    <div class="col-xs-4">
      <h2>My current activity <em>(maybe?)</em></h2>
    </div>

    <!-- <div class="col-xs-9">
      <div ng-show="!showMember">
        <h2 align="center">Click on a task to view details</h2>
      </div>
      <div ng-show="showMember">
        <div class="col-xs-3">
          <img src="{{selectedUser.gravatar}}" width="175px" height="175px">
        </div>
        <div class="col-xs-9">
          <h1>{{selectedUser.name}}</h1>
           <button class="btn btn-ghost-phased" ng-class="{disabled : viewType == 'notPaid'}" ng-click="getHistory(selectedUser.uid)"><i class="fa fa-history"></i> Download History</button>
           <p ng-show="viewType == 'notPaid'">Contact Colin at <a href="mailto:colin@phased.io">colin@phased.io</a> to upgrade to premium features</p>
        </div>
        <div class="col-xs-12">
          <h4>24 hours</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Task</th>
                <th>Category</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in selectedUser.history |orderBy:'-time'">
                <td>{{item.name}}</td>
                <td>{{$parent.team.categoryObj[item.cat].name}} </td>
                <td>{{item.time | amDateFormat:'MM.DD.YYYY HH:mm:ss'}}</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
</section>

<!-- add task -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="addmember" ng-submit="addTask(newTask)" novalidation>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 style="color:#000;" class="modal-title no-shadow">Add task</h4>
        </div>
        <div class="modal-body">
        	<label for="taskName">Task name</label>
         	<input type="text" id="taskName" ng-model="newTask.name" placeholder="Build a rocket">

          <label for="category">Category</label>
          <select ng-options="key as category.name for (key, category) in team.categoryObj" ng-model="newTask.category" id="assignee"></select>

          <label for="assignee">Assign to</label>
          <!-- this should default to self -->
          <select ng-options="member as member.name for (key, member) in team.members" ng-model="newTask.assignee" id="assignee"></select>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add task">
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
