.task__detail{
  min-height: 600px;
  max-width: 730px;
  margin: 0 auto;
  padding: 0 47px;
  textarea{
    border: 1px solid #000;
  }
}

.task__meta__item{
  float: left;
  margin: 4px 28px 1pc 0;
}

.task-header {
  .task-meta-bar {
    margin: 0;
    padding: 0;
    list-style: none;
    //overflow: auto;
    height: 40px;
    margin-bottom: 12px;
  }
  .task-meta-bar-item {
    display: inline-block;
    margin-right: 5px;
  }
  .dropdown-menu {
    li {
      img,
      p {
        display: inline-block;
      }
    }
  }
}

.task__title{
  border: none;
  width: 100%;
  resize: none;
}

.task__discript{
  min-height: 250px;
  white-space: pre-line;

}
.task__discript__editor{
  min-height: 250px;
}
.task__archive{
  margin-top: 20px;

}

.task__statues{
  padding-bottom: 50px;
  .member__activity {
    margin: 2em 0;
    .activity__person {
      margin-bottom: 0;
    }
    .activity__content {
      padding-left: 48px; // img + margin
    }
  }
}


.task__meta__due{
  cursor: pointer;
}
.task-meta-bar-item {
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 1000px;
  margin-right: 20px;
  float: left;
  .cal__btn {
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #B9BCC0;
    border-radius: 50%;
    font-size: 1.33333em;
    line-height: 2.2em;
    vertical-align: -15%;
    //height: 16px;
    //width: 16px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    color: #B9BCC0;
    transition: border 200ms,box-shadow 200ms,color 200ms;
  }
  &:hover {
    //border-color:$liteBlack;
    border-color: transparentize(#2fc2a3, 0.1);
  }
  p,
  .dropdown {
    display: inline-block;
  }
  p {
    margin-bottom: 0;
  }
}
